@model Cumulative_1.Models.Teacher
<h1>Teacher Name:-@Model.TeacherFName @Model.TeacherLName</h1>
<p>Hiring Date:-@Model.TeacherHireDate.ToString("yyyy-M-d")</p>
<p>Employer Number:-@Model.TeacherEmpNu</p>
<p>Salary:-@Model.TeacherSalary</p>